:root {
  --white-color: #fff;
  --black-color: #000;
  --dark-color: #1c2e3d;
  --accent-color: #e8594e;
  --accent-hover-color: #e0453a;
  --neptune-color: #73afba;
  --neptune-hover-color: #4196a6;
}