.footer {
  border-top: 1px solid rgba(179, 179, 179, 0.5);
  padding-top: 124px;
}

.footer__container {
  justify-content: space-between;
  margin-bottom: 121px;
}

.footer__title {
  position: relative;
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2.15px;
  text-transform: uppercase;
  color: #100e0b;
  padding-bottom: 35px;
  margin-bottom: 35px;
}

.footer__title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: #57a773;
  width: 48px;
  height: 1px;
}

.footer__link {
  font-weight: 500;
  font-size: 13px;
  color: #959ea6;
  display: inline-block;
  margin-bottom: 12px;
}

.subs-form {
  width: 368px;
}

.subs-form input::-moz-placeholder {
  color: rgba(27, 25, 22, 0.5);
}

.subs-form input::-webkit-input-placeholder {
  color: rgba(27, 25, 22, 0.5);
}

.subs-form__field {
  width: 100%;
  height: 64px;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  letter-spacing: -0.2px;
  padding-left: 31px;
  background-image: url(/img/user.svg);
  background-position: calc(100% - 31px) center;
  background-repeat: no-repeat;
}

.subs-form__btn {
  width: 100%;
  height: 64px;
  background-color: var(--neptune-color);
  margin-top: 16px;
  padding: 25px 120px;
  text-align: center;
}

.footer__bottom {
  border-top: 1px solid rgba(179, 179, 179, 0.5);
  padding: 28px 0;
}

.bottom-container {
  justify-content: space-between;
}

.footer__copy {
  font-family: 'SFProText', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #959ea6;
}

.footer__links {
  display: flex;
  font-family: 'SFProText', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #959ea6;
}

.footer__links-item:last-child {
  padding-left: 40px;
}