.grid {
  display: grid;
}

.insp__list {
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(500px, auto);
}

.insp__item {
  background-color: #000;
  border-radius: 8px;
}

.insp__item--big {
  grid-column-end: span 2;
}

.insp__item--bigheight {
  height: 710px;
}