.newsletter {
  padding-top: 51px;
  padding-bottom: 150px;
}

.newsletter-content {
  position: relative;
  border-radius: 8px;
  background-image: url('/img/newsletter-cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  padding: 0 133px;
  padding-top: 336px;
  padding-bottom: 178px;
}

.newsletter__text {
  max-width: 368px;
}

.newsletter__title {
  color: var(--white-color);
  margin-bottom: 40px;
}

.newsletter__descr {
  font-family: 'SFCompactText', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--white-color);
}

.newsletter__form {
  position: absolute;
  bottom: -96px;
  right: 133px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 501px;
  height: 416px;
  border-radius: 8px;
  padding-top: 53px;
}

.subscribe-form__field {
  width: calc(100% - (72px * 2));
  border: none;
  border-bottom: 1px solid rgba(28, 46, 61, 0.3);
  padding: 25px 0;
  font-family: 'SFProDisplay', sans-serif;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;

}

.subscribe__btn {
  margin-top: 77px;
  padding: 42px 80px;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: var(--neptune-color);
  transition: background-color 0.3s;
}

.subscribe__btn:hover {
  background-color: var(--neptune-hover-color);
  transition: background-color 0.3s;
}