.featured-videos {
  padding-top: 149px;
  padding-bottom: 50px;
}

.featured-videos__title {
  margin-bottom: 24px;
}

.featured-videos__descr {
  font-family: 'SFCompactText', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #788692;
  text-align: center;
  margin: 0 auto;
  max-width: 634px;
}

.swiper-container {
  overflow-x: hidden;
  padding: 100px 0;
  width: 100%;
  margin-top: 54px;
}

.swiper-slide {
  position: relative;
  background: #e3e3e3;
  border-radius: 8px;
  width: 890px;
  min-height: 551px;
  transition: transform 0.3s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.swiper-slide::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.461617) 100%);
  opacity: 0;
  transition: opacity 0.3s;
}

.swiper-slide-active {
  transform: scaleX(1.16) scaleY(1.21);
  transition: transform 0.3s;
}

.swiper-slide-active::after {
  opacity: 1;
  transition: opacity 0.3s;
}

.swiper-slide-active .slide-title {
  transition: transform 0.3s;
  transform: translateY(0);
}

/* Добавил сам */
.swiper-slide-active .slide-play {
  display: block;
}

.slide-play {
  position: absolute;
  left: 40px;
  top: 31px;
  width: 95px;
  height: 95px;
  background-image: url("/img/video-play.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  /* Добавил сам */
  display: none; 
}

.slide-play video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-1 {
  background-image: url('/img/videos-slider-1.jpg');
}

.slide-2 {
  background-image: url('/img/videos-slider-2.jpg');
}

.slide-3 {
  background-image: url('/img/videos-slider-3.jpg');
}

.slide-4 {
  background-image: url('/img/videos-slider-1.jpg');
}

.slide-title {
  font-weight: 500;
  font-size: 29px;
  color: var(--white-color);
  position: relative;
  z-index: 5;
  padding-left: 32px;
  padding-bottom: 32px;
  transition: transform 0.3s;
  transform: translateY(200px);
}